# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env
*.env

# VS Code
.vscode/
*.code-workspace

# Build / cache / logs
*.log
*.sqlite
*.db
*.pid

# OS files
Thumbs.db
.DS_Store

# Node (if frontend added later)
node_modules/
dist/
build/
